.container {
	padding: 0.2rem 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container > ul {
	display: flex;
	gap: 3.2rem;
}
.container > ul > li {
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 2rem;
	padding: 1.2rem;
}
a:hover {
	transition: 200ms;
	opacity: 0.8;
}

.container > img {
	width: 8rem;
	border-radius: 100%;
}
