<div class="container">
	<h1>Meu Portfolio</h1>
	<hr />
	<section class="projetos">
		<ul>
			<li>
				<article (click)="exibirProjeto(1)">
					<h2>Projeto 1</h2>
					<p>nesse projeto eu pipipi popopo</p>
				</article>
			</li>
			<li>
				<article (click)="exibirProjeto(2)">
					<h2>Projeto 2</h2>
					<p>nesse projeto eu pipipi popopo</p>
				</article>
			</li>
			<li>
				<article (click)="exibirProjeto(3)">
					<h2>Projeto 3</h2>
					<p>nesse projeto eu pipipi popopo</p>
				</article>
			</li>
			<li>
				<article (click)="exibirProjeto(4)">
					<h2>Projeto 4</h2>
					<p>nesse projeto eu pipipi popopo</p>
				</article>
			</li>
		</ul>
	</section>
</div>
