.container {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	/* border: 2px solid beige; */
	/* width: 70rem; */
	width: 100%;
	padding: 0 1rem 1rem;
	background-color: transparent;
}
img {
	width: 100%;
}
h2 {
	font-size: 2.5rem;
	background-color: transparent;
}
p {
	max-width: 80rem;
	font-size: 1.5rem;
	opacity: 0.8;
	background-color: transparent;
}

.container > p {
	/* margin: -1rem 0 -2rem; */
}

a {
	text-decoration: none;
}

.container:hover {
	transition: 200ms;
	cursor: pointer;
	opacity: 0.9;
	background-color: rgb(25, 25, 25);
}
