.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(49, 49, 49);
  color: white;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  padding: 1.2rem;
}
.content > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto 0;
}
.content > .right > p {
  width: 75%;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  background-color: rgb(77, 173, 91);
  color: white;
}
.naveg {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(97, 97, 97);
}
.naveg > nav > ul {
  display: flex;
  gap: 6rem;
}
.naveg > nav > ul > li {
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
  list-style: none;
}

.end-search {
  display: flex;
  width: 100%;
}
.end-search::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1.6rem;
  background-color: rgb(97, 97, 97);
  color: rgb(97, 97, 97);
  clip-path: polygon(0% 0%, 50% 70%, 100% 0%);
}
