<main class="main">
	<div class="content">
		<div class="left-side">
			<h1>Hello, {{ title }}</h1>
			<p>Congratulations! Your app is running. 🎉</p>
			<menu-component></menu-component>
			<button-default label="{{buttonComprar}}"></button-default>
			<button-default textoOpcional="Texto opcional!!!" label="{{buttonFavoritar}}" />
			<button-default label="Sou um texto genérico" />
			<app-entry-data />
		</div>


		<div class="divider" role="separator" aria-label="Divider"></div>
		<div class="right-side">
		</div>
	</div>
</main>

<router-outlet />