header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(117, 176, 179);
	padding: 1.6rem;
}
nav {
	width: 60%;
}
ul {
	display: flex;
	justify-content: space-between;

	width: 100%;
	gap: 1.6rem;
}
li {
	display: flex;
	list-style: none;
}
a {
	display: flex;
	font-size: 3.2rem;
	font-weight: 600;
	text-decoration: none;
	color: rgb(255, 255, 255);
}
a:hover {
	opacity: 0.8;
	cursor: pointer;
}
.actived {
	color: rgba(5, 77, 77, 0.89);
	opacity: 0.9;
	font-weight: 700;
}
