<section class="cards">
  <div class="background"></div>
  <ul>
    <li>
      <article>
        <img
          src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"
          alt=""
        />
        <p>Nº0001</p>
        <h3>sou um pikomon</h3>
        <div class="atributos">
          <span>Planta</span>
        </div>
      </article>
    </li>
    <li>
      <article>
        <img
          src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"
          alt=""
        />
        <p>Nº0002</p>
        <h3>sou um pikomon</h3>
        <div class="atributos">
          <span>Fogo</span>
        </div>
      </article>
    </li>
    <li>
      <article>
        <img
          src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"
          alt=""
        />
        <p>Nº0003</p>
        <h3>sou um pikomon</h3>
        <div class="atributos">
          <span>Pedra</span>
          <span>Planta</span>
        </div>
      </article>
    </li>
  </ul>
  <div class="background"></div>
</section>
