<section class="cards">
  <div class="background"></div>
  <ul>
    <li *ngFor="let pokemon of listPokemons">
      <article>
        <img src="{{ pokemon.imagePokemon }}" alt="" />
        <p>{{ pokemon.idPokemon }}</p>
        <h3>{{ pokemon.namePokemon }}</h3>
        <ul class="atributos">
          <li *ngFor="let atributo of pokemon.atributosPokemon">
            <span> {{ atributo }}</span>
          </li>
        </ul>
      </article>
    </li>
  </ul>
  <div class="background"></div>
</section>
